@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SfProRegular';
  src: url('../src/fonts/sf-pro-text-regular.ttf');
}

@font-face {
  font-family: 'SfProBold';
  src: url('../src/fonts/sf-pro-text-bold.ttf');
}


/*-------------------- header ----------------*/
header{
  box-shadow: 0px 2px 6.400000095367432px -1px rgba(19, 16, 34, 0.03), 0px 4.400000095367432px 12px -1px rgba(19, 16, 34, 0.06);
}

.menu-li:hover .megamenu{
  animation: megamenu-show 0.2s;
}

@keyframes megamenu-show {
  0% {
    transform: scale(.9) translateX(-50%);
    opacity: 0;
  }

  100% {
      transform: scale(1) translateX(-50%);
      opacity: 1;
  }
}

/*-------------------- blog > featured-blog ----------------*/
.featured-blog-card{
  box-shadow: 0px 4px 9px -1px rgba(19, 16, 34, 0.03), 0px 4.400000095367432px 20px -1px rgba(19, 16, 34, 0.05);
}

/*-------------------- blog > contact-us ----------------*/
.contact-us{
  background: url('../src/images/contact-bg.png') no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .contact-us{
    background: url('../src/images/contact-bg-sm.png') no-repeat center;
    background-size: cover;
  }
}

/*-------------------- financial-consulting > banner ----------------*/
@media screen and (min-width: 768px) {
  .financial-banner img{
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/*-------------------- financial-consulting > service ----------------*/
.blog-service-slider .swiper-horizontal>.swiper-pagination-bullets, 
.blog-service-slider .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 0;
}

.blog-service-slider .swiper-pagination-bullet {
  height: 5px;
  width: 5px;
  background: #BAC7CE;
  @apply transition-all duration-300 opacity-100;
}

.blog-service-slider .swiper-pagination-bullet-active{
  @apply w-9 bg-primary rounded-full;
}

.how-works ul li.active a{
  box-shadow: 6px 0px 24px 0px rgba(37, 78, 117, 0.08), -6px 0px 24px 0px rgba(37, 78, 117, 0.08); 
}

/*-------------------- saas-2 > client ----------------*/
.saas-client-slides{
  box-shadow: -10px -6px 27px 0px rgba(128, 128, 128, 0.06), 10px 4px 23px 0px rgba(128, 128, 128, 0.08); 
}

.saas-client .swiper-slide{
  opacity: 0.5;
  transition: all linear 0.3s;
}

.saas-client .swiper-slide-active{
  opacity: 1;
  transform: scale(1.1)
}

.saas-client .swiper-slide-active > div{
  @apply border-0;
}

/*-------------------- saas-3 > dark-light-mode ----------------*/
.dark-light-mode .slider:before {
  content: "";
  @apply absolute h-[27px] lg:h-9 w-[27px] lg:w-9 left-[2px] top-[2px] transition-all duration-300 rounded-full;
  background: url('../src/images/saas/moon.png') no-repeat center;
  background-size: cover;
}

.dark-light-mode .slider{
  background: url('../src/images/saas/night.png') no-repeat center;
  background-size: cover;
}

.dark-light-mode input:checked + .slider {
  background: url('../src/images/saas/day.png') no-repeat center;
}

.dark-light-mode input:checked + .slider:before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
  transform: translateX(38px);
  background: url('../src/images/saas/sun.png') no-repeat center;
}

@media screen and (max-width: 1023px) {
    .dark-light-mode input:checked + .slider:before {
    -webkit-transform: translateX(29px);
    -ms-transform: translateX(29px);
    transform: translateX(29px);
  }
}

/*-------------------- saas-3 > pricing-card ----------------*/
.pricing-card:hover{
  box-shadow: 0px 4px 13px -2px rgba(19, 16, 34, 0.06), 0px 4.800000190734863px 24.399999618530273px -6px rgba(19, 16, 34, 0.10);
}

/*-------------------- mobile-app-1 > banner ----------------*/
@media screen and (max-width: 767px){
  .mobile-app-banner1 .bg-area{
    background: linear-gradient(to bottom, #17171F 78%, #fff 22%);
  }
}

.animate-box-1{
  animation: upDown 12s linear infinite;
}

.animate-box-2{
  animation: downUp 12s linear infinite;
}

@keyframes upDown {
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(100px);
  }
}

@keyframes downUp {
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-100px);
  }
}

/*-------------------- mobile-app-1 > feature video ----------------*/
.feature-video{
  background: url('../src/images/mobile/video.png') no-repeat center;
  background-size: cover;
}

@keyframes ripple {
  0% {
      opacity: 1;
      -webkit-box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.4);
      box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.4);
  }

  100% {
      opacity: 0;
      -webkit-box-shadow: 0 0 0 30px rgba(239, 68, 68, 0.4);
      box-shadow: 0 0 0 30px rgba(239, 68, 68, 0.4);
  }
}

.feature-video .video-play .video-icon::after {
  content: '';
  animation: ripple;
  animation-duration: 0s;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  @apply absolute top-0 left-0 h-full w-full rounded-full bg-transparent;
}

/*-------------------- mobile-app-1 > client slider ----------------*/
.mobile-client-slider .swiper-slide-active > div{
  box-shadow: 0px 24px 64px 0px rgba(0, 0, 0, 0.05);
  border-color: #fff;
}

.mobile-client-slider .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background: #E8EFFF;
  @apply transition-all duration-300 opacity-100;
}

.mobile-client-slider .swiper-pagination-bullet-active{
  @apply bg-primary-900 rounded-full;
}

.mobile-client-slider .swiper-horizontal>.swiper-pagination-bullets, 
.mobile-client-slider .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: -6px;
}

/*-------------------- mobile-app-1 > subscribe ----------------*/
.subscribe .bg-area{
  background: url('../src/images/mobile/subscribe.png') no-repeat center;
  background-size: cover;
}

.brands .single-item{
  box-shadow: 0px 2px 6.5px -1px rgba(19, 16, 34, 0.03), 0px 4.5px 12px -1px rgba(19, 16, 34, 0.06);
}