@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SfProRegular';
  src: url('../src/fonts/sf-pro-text-regular.ttf');
}
@font-face {
  font-family: 'SfProBold';
  src: url('../src/fonts/sf-pro-text-bold.ttf');
}

.featured-blog-card{
  box-shadow: 0px 4px 9px -1px rgba(19, 16, 34, 0.03), 0px 4.400000095367432px 20px -1px rgba(19, 16, 34, 0.05);
}

.menu-li:hover .megamenu{
  animation: megamenu-show 0.2s;
}

@keyframes megamenu-show {
  0% {
    transform: scale(.9) translateX(-50%);
    opacity: 0;
  }

  100% {
      transform: scale(1) translateX(-50%);
      opacity: 1;
  }
}